<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta'); %>
    <link rel="stylesheet" href="../../IUSH/welcome/css/style.css">
</head>
<body>
    <h1><a href="/IUSH/login">Ir al Login</a></h1>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.18/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
    Swal.fire({
        title: '<strong>Estamos en Mantenimiento</u></strong>',
        icon: 'info',
        html:
        '<a href="/IUSH/login">Click</a> ' +
        ' para entrar al login',
        showCloseButton: true,
        showCancelButton: true,
    })
    </script>
</body>
</html>