<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="welcome/css/style.css">
</head>
<body>
    <h1><a href="/IUSH">Entrar a la IUSH</a></h1>
</body>
</html>
